<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META http-equiv="Content-Style-Type" content="text/css">
  <meta name="description"
        content="A completely private way of using the power of LLMs on your personal documents. ">
  <meta name="keywords" content="ChatGPT, OpenAI, GPT, API, lightweight client">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Krivich (https://github.com/Krivich)">

  <title>ManualGPT</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
  <script src="{{ url_for('static',filename='index.js') }}" defer> </script>
</head>

<body>
  <!-- wrap always-hidden stuff -->
  <div hidden>
    <!-- file upload form -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file" accept="text/*, .pdf">
      <button id="btn-file-upload-submit" type="submit"></button>
    </form>
  </div>

  <div class="left">
    <!-- chat history/list -->
    <div class="container-col" id="left-top">
      <legend class="left-header" id="chats-header">Chats</legend>
      <ul class="scroll-container left-list" id="chat-list"></ul>
      <button class="clickable btn-add-list" id="btn-new-chat">+</button>
    </div>

    <div class="center-container"></div>

    <div class="container-col" id="left-bottom">
      <legend class="left-header" id="files-header"></legend>
      <ul class="scroll-container left-list" id="file-list"></ul>
      <button class="clickable btn-add-list" id="btn-file-upload-init">+</button>
    </div>
    <br>
  </div>

  <div class="right">
    <div id="welcome-panel">
        <h1>ManualGPT</h1>
        <p><i>Because noone wants to read the documentation</i></p>
        <h2>Usage:</h2>
        <ul>
            <li>Upload any manual, instruction or documentation</li>
            <li>Specify the desired parameters, then prompt the LLM</li>
        </ul>
    </div>
    <div id="dialogue" class="scroll-container"></div>
    <div id="properties-panel" class="hidden">
      <div>
        <label for="model" title="Model of AI. Some models are not accessible for some users">Model:</label>
        <select id="model">
          <option value="GPT4All" selected>GPT4All</option>
          <option value="LlamaCpp">LlamaCpp</option>
          <!-- <option value="MedLlama">MedLlama</option>
          <option value="phi">phi</option>
          <option value="codegeex2">codegeex2</option>
          <option value="codellama">codellama</option>
          <option value="vicuna">vicuna</option> -->
        </select>
      </div>
      <div>
        <label for="temperature"
                title="Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic">Temperature:</label>
        <input type="number" id="temperature" name="temperature" min="0" max="2" step="0.1" value="0.8">
      </div>
      <div>
        <label for="max-tokens"
                title="The maximum number of tokens to generate in the chat completion. The total length of input tokens and generated tokens is limited by the model's context length">Max
            Tokens:</label>
        <input type="number" id="max-tokens" name="max-tokens" min="1" value="300" style="width: 50px">
      </div>
      <div>
        <label for="context-strategy" title="How to select messages from the history to use them as prompt context">Context:</label>
        <select id="context-strategy">
          <option value="1">Last 1</option>
          <option value="5" selected>Last 5</option>
          <option value="10">Last 10</option>
          <option value="100500">All</option>
        </select>
      </div>
    </div>
      <div class="prompt">
          <textarea id="input" rows="3" cols="50" placeholder="Input your prompt here"></textarea>
          <button class="button clickable icon" id="toggle-properties">⚙</button>
          <button class="button clickable icon" id="btn-send-prompt">➤</button>
      </div>
  </div>
</body>

</html>
